{% extends "base.njk" %}
{% block content %}
<script>
function newPopup(url) {
	popupWindow = window.open(
		url,'popUpWindow','height=700,width=450,scrollbars=yes,toolbar=no,menubar=no,location=no,directories=no,status=yes')
}
</script>
  </br>
	<span style="float: left;font-size: large;"><a href="/live/{{ user }}/index.m3u8">{{ user }}</a> | {{ streamtitle | escape }}</b></span><span style="float: right;font-size: large;"> Links | <a href="rtmp://{{ domain }}/live/{{ user }}">Watch</a> <a href="JavaScript:newPopup('/chat?room={{ user }}');">Chat</a> <a href="/vods/{{ user }}">VODs</a></span>
	<div id="jscontainer">
		<div id="jschild" style="width: 70%;height: 100%;">
			<video controls poster="/thumbnail.jpg" class="video-js vjs-default-skin" id="live-video" style="width:100%;height:100%;"></video>
		</div>
		<div id="jschild" class="webchat" style="width: 30%;height: 100%;">
			<iframe src="/chat?room={{ user }}" frameborder="0" style="width: 100%;height: 100%;"></iframe>
		</div>
	</div>
	<script>window.HELP_IMPROVE_VIDEOJS = false;</script>
	<script src="/videojs/video.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/videojs/video-js.min.css">
	<script>
    var player = videojs('live-video', {
      html: {
        nativeCaptions: false,
      },
    });
    player.ready(function() {
      player.on("error", () => {
        document.querySelector(".vjs-modal-dialog-content").textContent = "The stream is currently offline.";
      });
      player.src({
        src: '/live/{{ user }}/index.m3u8',
        type: 'application/x-mpegURL'
      });
    })
    </script></br>
    <noscript>The webclients for the stream and the chat require javascript, but feel free to use the direct links above!</br></br></noscript>
    {{ about | escape }}
{% endblock %}